<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L AF-0620-014 jihb -->
<mapper namespace="jp.co.ndensan.reams.af.afa.persistence.db.mapper.relate.kaikutaishoshohonjoho.IKaikuTaishoShohonJohoMapper">
    <select resultOrdered="false" id="select日付情報"  resultMap="resultMap_KaikuTaishoShohonJohoEntity"
            parameterType="jp.co.ndensan.reams.af.afa.definition.mybatis.param.kaikutaishoshohonjoho.KaikuTaishoShohonJohoParameter">
        SELECT
            <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT100ShohonMapper.allColumns_AfT100Shohon" />
            ,
            <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT111SenkyoMapper.allColumns_AfT111Senkyo"/>
        
        FROM rgaf."AfT100Shohon" AS "AfT100Shohon"
            INNER JOIN rgaf."AfT111Senkyo" AS "AfT111Senkyo"
            ON "AfT100Shohon"."shohonNo" = "AfT111Senkyo"."shohonNo"
            AND "AfT111Senkyo"."senkyoNo" = '1'
        WHERE
            "AfT100Shohon"."shohonNo" = #{抄本番号}
    </select>
    
    <resultMap id="resultMap_KaikuTaishoShohonJohoEntity" type="jp.co.ndensan.reams.af.afa.entity.db.relate.KaikuTaishoShohonJohoEntity" autoMapping="true">  
        <id property="aft100Entity.shohonNo" column="afT100Shohon_shohonNo" typeHandler="jp.co.ndensan.reams.af.afa.entity.typehandlers.ShohonNoTypeHandler"/>
        <id property="aft111Entity.shohonNo" column="afT111Senkyo_shohonNo" typeHandler="jp.co.ndensan.reams.af.afa.entity.typehandlers.ShohonNoTypeHandler"/>
        <id property="aft111Entity.senkyoNo" column="afT111Senkyo_senkyoNo" typeHandler="jp.co.ndensan.reams.af.afa.entity.typehandlers.SenkyoNoTypeHandler"/>
        <association property="aft100Entity" resultMap="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT100ShohonMapper.ResultMap_AfT100ShohonEntity"/>
        <association property="aft111Entity" resultMap="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT111SenkyoMapper.ResultMap_AfT111SenkyoEntity"/>
    </resultMap>
</mapper>
