<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @reamsid_L AF-0360-054 qiuxy -->
<mapper namespace="jp.co.ndensan.reams.af.afa.persistence.db.mapper.kokumintohyoji.IAFAPRG103tempTorokushasuListFuzaiMapper">

    <!--投票人名簿登録者数リスト（不在者投票資格者分） 一時テーブル作成-->
    <select resultOrdered="true" id="selectTorokushasuListFuzaiShikaku" resultMap="resultMap_TorokushasuListDataEntity"
            parameterType="jp.co.ndensan.reams.af.afa.definition.mybatisprm.kokumintohyoji.KokuminTohyojiMybatisParameter">
        WITH master as (
        SELECT
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT100ShohonMapper.allColumns_AfT100Shohon"/>
        ,
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfV112SenkyoninMeiboMapper.allColumns_AfT112SenkyoninMeibo"/>
        ,
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT111SenkyoMapper.allColumns_AfT111Senkyo"/>
        ,
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfV113SenkyoShikakuMapper.allColumns_AfT113SenkyoShikaku"/>
        FROM
        rgaf."AfV112SenkyoninMeibo" AS "AfT112SenkyoninMeibo"
        INNER JOIN rgaf."AfT100Shohon" AS "AfT100Shohon"
        ON "AfT100Shohon"."shohonNo" = "AfT112SenkyoninMeibo"."shohonNo"
        AND "AfT100Shohon"."shohonNo" = #{抄本番号}
        INNER JOIN rgaf."AfT111Senkyo" AS "AfT111Senkyo"
        ON "AfT100Shohon"."shohonNo" = "AfT111Senkyo"."shohonNo"
        INNER JOIN rgaf."AfV113SenkyoShikaku" AS "AfT113SenkyoShikaku"
        ON "AfT112SenkyoninMeibo"."shikibetsuCode" = "AfT113SenkyoShikaku"."shikibetsuCode"
        AND "AfT113SenkyoShikaku"."senkyoShurui" = '2'
        )

        SELECT
        master.*
        ,
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.columns_ShikibetsuTaisho" />
        ,
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT501TohyokuMapper.allColumns_AfT501Tohyoku"/>
        ,
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.relate.zenjitsuprint.IAFABTE504Mapper.allColumns_UrV0159Tohyoku"/>
        ,
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT114FuzaishaTohyoShikakuMapper.allColumns_AfT114FuzaishaTohyoShikaku"/>
        ,
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT115FuzaishaTohyoShikakuYubinMapper.allColumns_AfT115FuzaishaTohyoShikakuYubin" />
        FROM
        master
        INNER JOIN
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.multi.IUaFt200FindShikibetsuTaishoFunctionMultiParameterMapper.tableName_PsmParamClassWithoutShikibetsuCodeList_First" />
        (SELECT ARRAY_AGG(CAST (master."afT112SenkyoninMeibo_shikibetsuCode" AS TEXT)) FROM master)
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.multi.IUaFt200FindShikibetsuTaishoFunctionMultiParameterMapper.tableName_PsmParamClassWithoutShikibetsuCodeList_Second" />
        AS
        <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />
        ON master."afT112SenkyoninMeibo_shikibetsuCode" = "ShikibetsuTaisho"."shikibetsuCode"
        LEFT OUTER JOIN rgaf."AfT501Tohyoku" AS "AfT501Tohyoku"
        ON master."afT100Shohon_senkyoShurui" = "AfT501Tohyoku"."senkyoShurui"
        AND master."afT112SenkyoninMeibo_tohyokuCode" = "AfT501Tohyoku"."tohyokuCode"
        LEFT OUTER JOIN rgur."UrV0159Tohyoku" AS "UrV0159Tohyoku"
        ON master."afT112SenkyoninMeibo_tohyokuCode" = "UrV0159Tohyoku"."tohyokuCode"
        AND "UrV0159Tohyoku"."yukoKaishiYMD" <![CDATA[ <= ]]> master."afT100Shohon_tohyoYMD"
        AND master."afT100Shohon_tohyoYMD" <![CDATA[ <= ]]> "UrV0159Tohyoku"."yukoShuryoYMD"
        INNER JOIN rgaf."AfV114FuzaishaTohyoShikaku" AS "AfT114FuzaishaTohyoShikaku"
        ON master."afT113SenkyoShikaku_shikibetsuCode" = "AfT114FuzaishaTohyoShikaku"."shikibetsuCode"
        AND "AfT114FuzaishaTohyoShikaku"."tohyoShikakuShurui"  IN ('1', '2', '3')
        LEFT JOIN rgaf."AfV115FuzaishaTohyoShikakuYubin" AS "AfT115FuzaishaTohyoShikakuYubin"
        ON "AfT114FuzaishaTohyoShikaku"."shikibetsuCode" = "AfT115FuzaishaTohyoShikakuYubin"."shikibetsuCode"
        AND "AfT115FuzaishaTohyoShikakuYubin"."seq" = "AfT114FuzaishaTohyoShikaku"."seq"
    </select>

    <resultMap id="resultMap_TorokushasuListDataEntity" type="jp.co.ndensan.reams.af.afa.entity.db.relate.afabtb101.TorokushasuListFuzaiShikakuDataEntity" >
        <id column="ShikibetsuTaisho_shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler" />
        <id column="afT100Shohon_shohonNo" typeHandler="jp.co.ndensan.reams.af.afa.entity.typehandlers.ShohonNoTypeHandler"/>
        <id column="afT111Senkyo_senkyoNo" typeHandler="jp.co.ndensan.reams.af.afa.entity.typehandlers.SenkyoNoTypeHandler"/>
        <id column="afT114FuzaishaTohyoShikaku_tohyoShikakuShurui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <id column="afT114FuzaishaTohyoShikaku_seq" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.BigSerialTypeHandler"/>
        <association property = "afT100Shohon" resultMap = "jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT100ShohonMapper.ResultMap_AfT100ShohonEntity"/>
        <association property = "afT111Senkyo" resultMap = "jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT111SenkyoMapper.ResultMap_AfT111SenkyoEntity"/>
        <association property = "afT112SenkyoninMeibo" resultMap = "jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT112SenkyoninMeiboMapper.ResultMap_AfT112SenkyoninMeiboEntity"/>
        <association property = "afT113SenkyoShikaku" resultMap = "jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT113SenkyoShikakuMapper.ResultMap_AfT113SenkyoShikakuEntity"/>
        <association property = "uaft200" resultMap = "jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.UaFt200FindShikibetsuTaishoEntity"/>
        <association property="afT501" resultMap="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT501TohyokuMapper.ResultMap_AfT501TohyokuEntity"/>
        <association property="urV0159" resultMap="jp.co.ndensan.reams.af.afa.persistence.db.mapper.relate.zenjitsuprint.IAFABTE504Mapper.ResultMap_UrV0159TohyokuEntity"/>
        <association property="afT114" resultMap="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT114FuzaishaTohyoShikakuMapper.ResultMap_AfT114FuzaishaTohyoShikakuEntity"/>
        <association property="afT115" resultMap="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT115FuzaishaTohyoShikakuYubinMapper.ResultMap_AfT115FuzaishaTohyoShikakuYubinEntity"/>
    </resultMap>

    <!-- 登録者数リストのデータを取得-->
    <select resultOrdered="true" id="selectDataForTorokushasuList"  resultMap="ResultMap_AFAPRG103tempEntity">
        SELECT
        *
        FROM
        (
        SELECT
        "senkyoNo" AS "senkyoNo"
        ,'1' AS "sumType"
        ,"tohyokuCode" AS "tohyokuCode"
        ,"orderCode" AS "orderCode"
        ,'' AS "tohyokuMeisho"
        ,"kijunYMD" AS "kijunYMD"
        ,"tohyoYMD" AS "tohyoYMD"
        ,"senkyoName" AS "senkyoName"
        ,"tohyoshikakuShurui"  as "tohyoshikakuShurui"
        ,<include refid="sum_sql"/>
        FROM
        "TempAFAPRG103Fuzai"
        GROUP BY
        "tohyoshikakuShurui"
        ,"senkyoNo"
        ,"tohyokuCode"
        ,"orderCode"
        ,"kijunYMD"
        ,"tohyoYMD"
        ,"senkyoName"
        UNION
        SELECT
        "senkyoNo" AS "senkyoNo"
        ,'2' AS "sumType"
        ,"tohyokuCode" AS "tohyokuCode"
        ,'' AS "orderCode"
        ,"tohyokuMeisho" AS "tohyokuMeisho"
        ,"kijunYMD" AS "kijunYMD"
        ,"tohyoYMD" AS "tohyoYMD"
        ,"senkyoName" AS "senkyoName"
        ,"tohyoshikakuShurui"  as "tohyoshikakuShurui"
        ,<include refid="sum_sql"/>
        FROM
        "TempAFAPRG103Fuzai"
        GROUP BY
        "tohyoshikakuShurui"
        ,"senkyoNo"
        ,"tohyokuCode"
        ,"tohyokuMeisho"
        ,"kijunYMD"
        ,"tohyoYMD"
        ,"senkyoName"
        ) as "foo"
        ORDER BY
        "tohyoshikakuShurui" ASC,
        "senkyoNo" ASC,
        "sumType" ASC,
        "tohyokuCode" ASC,
        "orderCode" ASC
    </select>

    <!--集計-->
    <sql id="sum_sql">
        SUM (CASE WHEN  <include refid="select_ichigoShikakusha"/> AND  <include refid="select_male"/>
        THEN 1 ELSE 0 END ) AS "ichigoShikakushaMale",
        SUM (CASE WHEN  <include refid="select_ichigoShikakusha"/> AND  <include refid="select_female"/>
        THEN 1 ELSE 0 END ) AS "ichigoShikakushaFemale",
        SUM (CASE WHEN  <include refid="select_nigoShikakusha"/> AND  <include refid="select_male"/>
        THEN 1 ELSE 0 END ) AS "nigoShikakushaMale",
        SUM (CASE WHEN  <include refid="select_nigoShikakusha"/> AND  <include refid="select_female"/>
        THEN 1 ELSE 0 END ) AS "nigoShikakushaFemale"
    </sql>

    <!--一号資格者の判定-->
    <sql id="select_ichigoShikakusha">
        "ichigoShikakuKubun"=true
    </sql>
    <!--二号資格者の判定-->
    <sql id="select_nigoShikakusha">
        "nigoShikakuKubun" = true
    </sql>
    <!--男の判定-->
    <sql id="select_male">
        "seibetsuCode"='1'
    </sql>
    <!--女の判定-->
    <sql id="select_female">
        "seibetsuCode"='2'
    </sql>

    <resultMap id="ResultMap_AFAPRG103tempEntity" type="jp.co.ndensan.reams.af.afa.entity.xml.kokumintohyojitoroku.AFAPRG103FuzaiShikakuEntity" autoMapping="true">
        <id property="tohyoshikakuShurui" column="tohyoshikakuShurui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"  />
        <id property="senkyoNo" column="senkyoNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <id property="sumType" column="sumType" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <id property="tohyokuCode" column="tohyokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <id property="orderCode" column="orderCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="senkyoName" column="senkyoName" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="tohyokuMeisho" column="tohyokuMeisho" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler" />
        <result property="kijunYMD" column="kijunYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="tohyoYMD" column="tohyoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler" />
        <result property="ichigoShikakushaMale" column="ichigoShikakushaMale" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="ichigoShikakushaFemale" column="ichigoShikakushaFemale" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="nigoShikakushaMale" column="nigoShikakushaMale" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
        <result property="nigoShikakushaFemale" column="nigoShikakushaFemale" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.DecimalTypeHandler" />
    </resultMap>
</mapper>