<?xml version="1.0" encoding="UTF-8"?>
<!-- @reamsid_L AF-0300-020 lis-->
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ndensan.reams.af.afa.persistence.db.mapper.meibochoseifilesakuse.IChoseiFileSakuseiMapper">

    <select resultOrdered="true" id="select有権者情報" resultType="jp.co.ndensan.reams.af.afa.entity.db.relate.meibochoseifilesakuse.MeiboChoseiFileSakuseiEntity"
            parameterType="jp.co.ndensan.reams.af.afa.definition.mybatisprm.meibochoseifilesakuse.ChoseiFileMybatisParameter" fetchSize="500">

        WITH master AS (
        SELECT
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT113SenkyoShikakuMapper.allColumns_AfT113SenkyoShikaku"/>,
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT100ShohonMapper.allColumns_AfT100Shohon" />,
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.basic.IAfT112SenkyoninMeiboMapper.allColumns_AfT112SenkyoninMeibo" />
        FROM
        rgaf."AfV112SenkyoninMeibo" AS "AfT112SenkyoninMeibo"
        inner join rgaf."AfT100Shohon" as "AfT100Shohon"
        on "AfT112SenkyoninMeibo"."shohonNo" = "AfT100Shohon"."shohonNo"
        inner join rgaf."AfV113SenkyoShikaku" as "AfT113SenkyoShikaku"
        on "AfT112SenkyoninMeibo"."shikibetsuCode" = "AfT113SenkyoShikaku"."shikibetsuCode"
        and "AfT113SenkyoShikaku"."senkyoShurui" = '0'
        and "AfT113SenkyoShikaku"."dataTorokuYMD" <![CDATA[<=]]> "AfT100Shohon"."tohyoYMD"
        WHERE
        "AfT112SenkyoninMeibo"."shohonNo" = #{抄本番号}
        )
        ,masterCodes AS (
        SELECT
        ARRAY_AGG(DISTINCT master."afT112SenkyoninMeibo_shikibetsuCode"::text) AS codeList
        FROM
        master
        )
        SELECT

            "ShikibetsuTaisho"."shikibetsuCode" as 識別コード
            , "ShikibetsuTaisho"."meisho" as 名称
            , "ShikibetsuTaisho"."seinengappiYMD" as 生年月日
            , "ShikibetsuTaisho"."yubinNo" as 郵便番号
            , "ShikibetsuTaisho"."jusho" as 住所
            , "ShikibetsuTaisho"."banchi" as 番地
            , "ShikibetsuTaisho"."honsekiJusho" as 本籍住所
            , "ShikibetsuTaisho"."honsekiBanchi" as 本籍番地
            , "ShikibetsuTaisho"."katagaki" as 方書
            , master."afT113SenkyoShikaku_shikakuKubun" as 選挙資格区分
        FROM  master
        INNER JOIN
        <include refid="tableName_PsmParamClassShikibetsuTaisho_Label_First" />
        (select codeList from masterCodes)
        <include refid="tableName_PsmParamClassShikibetsuTaisho_Label_Second" />
        AS <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />
        on <include refid="jp.co.ndensan.reams.ua.uax.persistence.db.mapper.IUaFt200FindShikibetsuTaishoFunctionMapper.as_ShikibetsuTaisho" />."shikibetsuCode" = master."afT112SenkyoninMeibo_shikibetsuCode"
        WHERE CARDINALITY( (select codeList from masterCodes) ) > 0
    </select>

    <sql id="tableName_PsmParamClassShikibetsuTaisho_Label_First">
        rgua."UaFt200FindShikibetsuTaisho"(
        #{uaft200_dataShutokuKubun},
        #{uaft200_kijunYMD},
        #{uaft200_jutogaiYusenFlag},
        #{uaft200_gyomuCode},
        #{uaft200_setaiinShutoku},
        <if test="uaft200_isUseTableColumn">
            ${uaft200_shikibetsuCode},
        </if>
        <if test="!uaft200_isUseTableColumn">
            #{uaft200_shikibetsuCode},
        </if>
        #{uaft200_setaiCode},
        #{uaft200_kojinNo},
        #{uaft200_hojinNo},
        #{uaft200_juminhyoCode},
        #{uaft200_zairyuCardtoNo},
        #{uaft200_shimei},
        #{uaft200_shimeiBunkatsu1},
        #{uaft200_shimeiBunkatsu2},
        #{uaft200_shimeiBunkatsu3},
        #{uaft200_shimei_joken},
        #{uaft200_shimei_rirekiumu},
        #{uaft200_seinengappiYmd},
        #{uaft200_seibetsuCode},
        #{uaft200_choikiCode},
        #{uaft200_choiki},
        #{uaft200_zenkokuJushoCode},
        #{uaft200_zenkokuJusho},
        #{uaft200_jushoMeisho_Joken},
        #{uaft200_jusho_rirekiumu},
        #{uaft200_gyoseikuCode},
        #{uaft200_chikuCode1},
        #{uaft200_chikuCode2},
        #{uaft200_chikuCode3},
        #{uaft200_banchiCode1},
        #{uaft200_banchiCode2},
        #{uaft200_banchiCode3},
        #{uaft200_banchiCode4},
        #{uaft200_katagakiMeisho},
        #{uaft200_katagaki_Joken},
        #{uaft200_yubinNo},
        #{uaft200_juminJutonaiNihonjin},
        #{uaft200_juminJutonaiGaikokujin},
        #{uaft200_juminJutogaiNihonjin},
        #{uaft200_juminJutogaiGaikokujin},
        #{uaft200_jumin_Hojin},
        #{uaft200_jumin_Kyoyusha},
        #{uaft200_juminJotaiJumin},
        #{uaft200_juminJotaiJutogai},
        #{uaft200_juminJotaiShojosha},
        #{uaft200_juminJotaiTenshutsusha},
        #{uaft200_juminJotaiShibosha},
        #{uaft200_renrakusaki},
        #{uaft200_hojinKeitaiCode},
        #{uaft200_daihyoShikibetsuCode},
        #{uaft200_daihyoShimei},
        #{uaft200_daihyoShimeiBunkatsu1},
        #{uaft200_daihyoShimeiBunkatsu2},
        #{uaft200_daihyoShimeiBunkatsu3},
        #{uaft200_daihyoShimei_joken},
        #{uaft200_daihyoShimei_rirekiumu},
        #{uaft200_kokusekiChiikiCode},
        #{uaft200_lasdecCode},
        #{uaft200_sakujoShutoku},
        #{uaft200_doitsuninYusen},
        #{uaft200_kosekiShutoku},
        #{uaft200_choikiCode_ST},
        #{uaft200_choikiCode_ED},
        #{uaft200_zenkokuJushoCode_ST},
        #{uaft200_zenkokuJushoCode_ED},
        #{uaft200_gyoseikuCode_ST},
        #{uaft200_gyoseikuCode_ED},
        #{uaft200_chikuCode1_ST},
        #{uaft200_chikuCode1_ED},
        #{uaft200_chikuCode2_ST},
        #{uaft200_chikuCode2_ED},
        #{uaft200_chikuCode3_ST},
        #{uaft200_chikuCode3_ED},
        #{uaft200_shikibetsuCode_ST},
        #{uaft200_shikibetsuCode_ED},
        #{uaft200_setaiCode_ST},
        #{uaft200_setaiCode_ED},
        #{uaft200_yubinNo_ST},
        #{uaft200_yubinNo_ED},
    </sql>

    <sql id="tableName_PsmParamClassShikibetsuTaisho_Label_Second">
        )
    </sql>



</mapper>
