<?xml version="1.0" encoding="UTF-8"?>
<!-- @reamsid_L AF-0180-015 lis2 -->
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ndensan.reams.af.afa.persistence.db.mapper.shikakujoho.IShikakuJohoMapper">
    <select resultOrdered="true" id="selectSenkyoShikaku" resultMap="ResultMap_AfT113SenkyoShikakuEntity"
            parameterType="jp.co.ndensan.reams.af.afa.entity.db.relate.senkyonin.shikakujoho.ShikakuJohoEntity" fetchSize="500">
        <!--        select
        AfV113."senkyoShurui" as senkyoShurui,
        AfV113."shikibetsuCode" as shikibetsuCode,
        AfV113."seq" as seq,
        AfV113."shikakuKubun" as shikakuKubun,
        AfV113."tohyokuCode" as tohyokuCode,
        AfV113."meiboTorokuYMD" as meiboTorokuYMD,
        AfV113."torokuJiyuCode" as torokuJiyuCode,
        AfV113."torokuTeishiYMD" as torokuTeishiYMD,
        AfV113."torokuTeishiJiyuCode" as torokuTeishiJiyuCode,
        AfV113."hyojiYMD" as hyojiYMD,
        AfV113."hyojiJiyuCode" as hyojiJiyuCode,
        AfV113."hyojiShojoYMD" as hyojiShojoYMD,
        AfV113."hyojiShojoYoteiYMD" as hyojiShojoYoteiYMD,
        AfV113."masshoYMD" as masshoYMD,
        AfV113."masshoJiyuCode" as masshoJiyuCode,
        AfV113."keikiShuryoYMD" as keikiShuryoYMD,
        AfV113."nikeimochiFlag" as nikeimochiFlag,
        AfV113."dataTorokuYMD" as dataTorokuYMD
        from rgaf."AfV113SenkyoShikaku" as AfV113
        where AfV113."shikibetsuCode" = #{shikibetsuCode}
        <if test='wksenkyoShurui == 1'>
            AND AfV113."senkyoShurui" = #{senkyoShurui}
        </if>
        <if test='wksenkyoShurui != 1'>
            AND AfV113."senkyoShurui" = #{senkyoShurui}
        </if>-->
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.relate.juminkensaku.IJuminKensakuMapper.selectFromAfv113sForCTM" />
        where "afv113s"."shikibetsuCode" = #{shikibetsuCode}
        <if test='wksenkyoShurui == 1'>
            AND "afv113s"."senkyoShurui" = #{senkyoShurui}
        </if>
        <if test='wksenkyoShurui != 1'>
            AND "afv113s"."senkyoShurui" = #{senkyoShurui}
        </if>
        <include refid="jp.co.ndensan.reams.af.afa.persistence.db.mapper.relate.juminkensaku.IJuminKensakuMapper.whereAfv113sForCTM" />
    </select>

    <resultMap id="ResultMap_AfT113SenkyoShikakuEntity" type="jp.co.ndensan.reams.af.afa.entity.db.basic.AfT113SenkyoShikakuEntity" autoMapping="true">
        <result property="senkyoShurui" column="senkyoShurui" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="seq" column="seq" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.BigSerialTypeHandler"/>
        <result property="shikakuKubun" column="shikakuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="tohyokuCode" column="tohyokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="meiboTorokuYMD" column="meiboTorokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="torokuJiyuCode" column="torokuJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="torokuTeishiYMD" column="torokuTeishiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="torokuTeishiJiyuCode" column="torokuTeishiJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="hyojiYMD" column="hyojiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="hyojiJiyuCode" column="hyojiJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="hyojiShojoYMD" column="hyojiShojoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="hyojiShojoYoteiYMD" column="hyojiShojoYoteiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="masshoYMD" column="masshoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="masshoJiyuCode" column="masshoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="keikiShuryoYMD" column="keikiShuryoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="nikeimochiFlag" column="nikeimochiFlag" />
        <result property="dataTorokuYMD" column="dataTorokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
    </resultMap>

    <select resultOrdered="true" id="selectZaigaiSenkyoShikaku" parameterType="jp.co.ndensan.reams.af.afa.entity.db.relate.senkyonin.shikakujoho.ShikakuJohoEntity"
            resultMap="ResultMap_AfT122ZaigaiSenkyoShikakuEntity" fetchSize="500">
        select
        AfT122."shikibetsuCode" as shikibetsuCode,
        AfT122."shinseiNo" as shinseiNo,
        AfT122."kokuminTohyoKubun" as kokuminTohyoKubun,
        AfT122."kokuminShohonNo" as kokuminShohonNo,
        AfT122."honsekiTorokuKubun" as honsekiTorokuKubun,
        AfT122."kofuNo" as kofuNo,
        AfT122."kofuYMD" as kofuYMD,
        AfT122."shikakuKubun" as shikakuKubun,
        AfT122."tohyokuCode" as tohyokuCode,
        AfT122."meiboTorokuYMD" as  meiboTorokuYMD,
        AfT122."hyojiYMD" as hyojiYMD,
        AfT122."hyojiJiyuCode" as hyojiJiyuCode,
        AfT122."masshoYMD" as masshoYMD,
        AfT122."masshoJiyuCode" as masshoJiyuCode,
        AfT122."shuseiKubun" as shuseiKubun,
        AfT122."shuseiYMD" as shuseiYMD,
        AfT122."saiKofuJiyuCode" as saiKofuJiyuCode,
        AfT122."henkoJiyuCode" as henkoJiyuCode,
        AfT122."tokkiJiko" as tokkiJiko
        from rgaf."AfT122ZaigaiSenkyoShikaku" as AfT122
        where AfT122."shikibetsuCode" = #{shikibetsuCode}
        and "shinseiNo" = (select max("shinseiNo") from rgaf."AfT122ZaigaiSenkyoShikaku" as zaigaiSenkyoShikaku
        where zaigaiSenkyoShikaku."shikibetsuCode" = #{shikibetsuCode} )
    </select>

    <resultMap id="ResultMap_AfT122ZaigaiSenkyoShikakuEntity" type="jp.co.ndensan.reams.af.afa.entity.db.basic.AfT122ZaigaiSenkyoShikakuEntity" autoMapping="true">
        <result property="shikibetsuCode" column="shikibetsuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.ShikibetsuCodeTypeHandler"/>
        <result property="shinseiNo" column="shinseiNo"/>
        <result property="kokuminTohyoKubun" column="kokuminTohyoKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="kokuminShohonNo" column="kokuminShohonNo" typeHandler="jp.co.ndensan.reams.af.afa.entity.typehandlers.ShohonNoTypeHandler"/>
        <result property="honsekiTorokuKubun" column="honsekiTorokuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="kofuNo" column="kofuNo" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="kofuYMD" column="kofuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="shikakuKubun" column="shikakuKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="tohyokuCode" column="tohyokuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
        <result property="meiboTorokuYMD" column="meiboTorokuYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="hyojiYMD" column="hyojiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="hyojiJiyuCode" column="hyojiJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="masshoYMD" column="masshoYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="masshoJiyuCode" column="masshoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="shuseiKubun" column="shuseiKubun" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="shuseiYMD" column="shuseiYMD" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.FlexibleDateTypeHandler"/>
        <result property="saiKofuJiyuCode" column="saiKofuJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="henkoJiyuCode" column="henkoJiyuCode" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.CodeTypeHandler"/>
        <result property="tokkiJiko" column="tokkiJiko" typeHandler="jp.co.ndensan.reams.uz.uza.util.db.typehandlers.RStringTypeHandler"/>
    </resultMap>
</mapper>
